### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [6]:
import pandas as pd
import numpy
import csv

ModuleNotFoundError: No module named 'pandas'

In [8]:
df = pd.read_csv(cs.path.join(folder_path, 'titanic_train.csv'))

NameError: name 'pd' is not defined

### Load Excel file from previous exercise and save it again with only first four columns

### Test how loc and iloc works (be creative :) )

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

In [ ]:
idx = pd.Series(np.arange(21, 30) index=np.arrange(1, 10)

### Display passengers with Age above 50

In [9]:
data.shape

NameError: name 'data' is not defined

### Display passengers that Embarked at location S and are female

In [ ]:
data[(data.Embarked == "S")]

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.